<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">description</th>
      <th scope="col">Content</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of Products; let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ p.name }}</td>
      <td>{{ p.description }}</td>
      <td>{{ p.content }}</td>
      <td>
        <span (click)="removeProduct(product)" class="text-danger">Delete</span>
        &nbsp;
        <span routerLink="/update-product/{{ p.id }}" class="text-primary"
          >Edit</span
        >
      </td>
    </tr>
  </tbody>
</table>
