<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Contact</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products; let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ product.name }}</td>
      <td>{{ product.email }}</td>
      <td>{{ product.contact }}</td>
      <td>
        <span (click)="removeProduct(product)" class="text-danger">Delete</span>
        &nbsp;
        <span routerLink="/update-product/{{ product.id }}" class="text-primary"
          >Edit</span
        >
      </td>
    </tr>
  </tbody>
</table>
